body {
  background-color: rgb(30, 30, 30);
  font-family: Roboto;
  color: rgb(200, 200, 200);
}

#foundWords{

  display: block;
  position: absolute;
  top:100;
  left:2%;
  height: 455px;
  overflow: scroll;
}

.resources{
  color: white;
  
}